.Welcome
 {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 50%;
     height: 50%;
     background: lightgray;
     font-family: sans-serif;
     text-align:center;
     color: #617ba5;
 }


 a:link,a:visited

 {
    font-family: sans-serif;
    color: white;
    font-size: 27px;
    text-decoration: none;

 }

 p
 {
    font-size: 100px;
    padding: 100px;
 }
