.Welcome {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 50%;
     height: 50%;
     background: lightgray;
     font-family: sans-serif;
     text-align:center; 
     color: #617ba5;
    

    }

.button{
 	padding:10px;
 	font-family: sans-serif;
 	text-align: center;
 	color: #617ba5;
 	font-size: 15px;
 }

a:link,a:visited{
	font-family: sans-serif;
	color: white;
	font-size: 22px;
	text-decoration: none;
}

 .row > div {

                padding:5px;
                background-color: lightblue;
                border: 1px solid black
            }

 img
 {
 	
 	margin: 10px;
 	height: auto;
 	width:60%;
 }

  .container
            {
                display: flex;
                flex-wrap: wrap

            }

    .container > div
            {
                
                 background-color: lightblue;
                font-size: 20px;
                margin: 20px;
                padding: 20px;
                width: 200px;
            }


.table{
	   position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 50%;
     height: 50%;
	border: 3px solid black;
}

h1,p
{
	text-align: center;

}

p{
	font-size: 20px;
}

.row{
	margin:10px;
}

#what
{
	padding:50px;
	text-align: center;
}

#welcome-text
{
	font-size: 100px;
}

.room{
	font-family: sans-serif;
	color: white;
	background-color: #42659e;
	opacity: 0.6;
	padding:7px;
	text-align: center;
}

.people{
	font-family: sans-serif;   
	color: white;
	text-align: center;
	font-size:25px; 
}

.roomno
{
	font-family: sans-serif;   
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 45px;
}

.date
{
	font-weight:bold;
	color: grey;
	padding: 5px;
	vertical-align: bottom;
}

body, html {
    height: 100%;
}

.bg { 

    background-position: center;
    background-repeat: no-repeat;
}

#welcomemessage
{
	font-family: sans-serif;
	padding: 100px;
	color: grey;
	font-weight: bold;
}